$lime: rgb(178, 215, 44);
$green: rgb(29,122, 92);
$blue: rgb(6, 51, 70);
$yellow: rgb(250, 218, 22);
$orange: rgb(249, 93, 8);

body {
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $green;
  background-color: $green;
}

main {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 18px;
  color: white;
  vertical-align: center;
}

.sidebar {
  min-width: 240px;
  max-width: 375px;
}

.content {
  min-width: 240px;
}

.recipes {
}

form {
  label {
    display: block;
    margin: 20px 0 0 20px;;
  }

  input, textarea, button {
    display: block;
    border: 1px solid $blue;
    margin: 10px 0 0 0;
  }

  button {
    margin: 10px 0 0 20px;
  }
}


