//@import './reset.css';
// https://color.adobe.com/Vitamin-C-color-theme-492199/
$lime: rgb(178, 215, 44);
$green: rgb(29,122, 92);
$blue: rgb(6, 51, 70);
$yellow: rgb(250, 218, 22);
$orange: rgb(249, 93, 8);

body {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $blue;
  background-color: $blue;
  z-index: 1000;

  button {
    margin: 0 20px 0 10px;
    height: 30px;
    align-self: center;
    background-color: $blue;
    color: white;
    border: 1px solid white;
  }

  h1 {
    align-self: center;

  }
}

main {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  margin-top: 50px;
}

h1 {
  font-size: 15px;
  color: white;
  display: table-cell;
  vertical-align: middle;
}


.sidebar {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 375px;
  border-right: 1px solid $lime;
  padding: 20px 20px 0 20px;
  z-index: 999;
  position: absolute;
  height: calc(100vh - 50px);
  background-color: white;

  transition: .5s;

  .new-recipe-button {
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
  }
}

.hidden {
  margin-left: -375px;
  background-color: none;
}

.content {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 600px;
  padding: 0 20px 0 20px;
  z-index: 0;
  height: calc(100vh - 50px);

  button {
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    margin-right: 10px;
  }
}

.recipe-list {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }
}

form {
  label {
    display: block;
    margin: 20px 0 0 20px;;
  }

  input, textarea, button {
    display: block;
    border: 1px solid $blue;
    margin: 10px 0 0 0;
  }

  button {
    margin: 10px 0 0 20px;
  }
}

@media(min-width: 640px) {
  header {
    padding: 0 0 0 20px;

    button {
      display: none;
    }

    h1 {
      align-self: center;
    }
  }

  .content {
    z-index: 0;
    background-color: white;
  }

  .sidebar {
    position: relative;
    z-index: 0;
    width: 33vw;
    max-width: 375px;
  }

  .hidden {
    margin-left: 0px;
    background-color: white;
  }


}

