//@import './reset.css';
// https://color.adobe.com/Vitamin-C-color-theme-492199/
$lime: rgb(178, 215, 44);
$green: rgb(29,122, 92);
$blue: rgb(6, 51, 70);
$yellow: rgb(250, 218, 22);
$orange: rgb(249, 93, 8);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}

body {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  flex: 0 1 auto;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $blue;
  background-color: $blue;
  z-index: 1000;
  -webkit-user-select: none;

  button {
    margin: 0 20px 0 10px;
    height: 30px;
    width: 30px;
    align-self: center;
    background-color: $blue;
    color: white;
    border: 1px solid white;
  }

  h1 {
    align-self: center;

  }
}

main {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  margin-top: 50px;
  width: 100vw;
}

h1 {
  font-size: 15px;
  color: white;
  display: table-cell;
  vertical-align: middle;
}


.sidebar {
  box-sizing: border-box;
  min-width: 290px;
  max-width: 375px;
  border-right: 1px solid #666;
  padding: 70px 20px 0 20px;
  z-index: 999;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  background-color: white;
  transition: margin .3s;

  .new-recipe-button {
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    height: 25px;
  }
}

.sidebar.hidden {
  margin-left: -375px;
  background-color: none;
}

  .dimmer-layer {
    width: 100%;
    height: calc(100vh - 50px);
    z-index: 998;
    position: fixed;
    margin: 0;
    background-color: black;
    opacity: 0.7;
    visibility: visible; //TODO: Fix these so they work with transitions (use keyframes?)
    transition: opacity .5s;
  }

  .dimmer-layer.hidden {
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity .5s; 
  }

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  z-index: 0;
  height: calc(100vh - 50px);
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  button:first-of-type {
    margin: 0 10px 0 0;
  }

  button {
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    font-weight: bold;
    height: 25px;
  }

  .recipe-viewer {
    padding: 0 20px 0 20px;
  }
}

.recipe-list {
  margin-top: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
  }

  .recipe-list-item {
    border-top: 1px solid #dedede;

    h3 {
      margin-top: 8px;
      margin-bottom: 0px;
    }

    p {
      margin-top: 5px;
      margin-bottom: 8px;
    }
  }

}

form {
  label {
    display: block;
    margin: 20px 0 0 20px;;
  }

  input, textarea {
    display: block;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid $blue;
    margin: 10px 40px 0 0;
    font-size: 16px;
  }

  input {
    min-height: 30px;
  }

  textarea {
    min-height: 120px;
  }

  button {
    margin: 10px 0 0 10px;
  }

  button:first-of-type {
    margin: 10px 0 0 20px;
  }

}

@media(min-width: 640px) {
  header {
    padding: 0 0 0 20px;

    button {
      display: none;
    }

    h1 {
      align-self: center;
    }
  }

  .content {
    position: absolute;
    z-index: 0;
    left: 320px;
    background-color: white;
    width: calc(100% - 320px);
    max-width: none;
  }

  .sidebar {
    position: absolute;
    // margin: -50px 0 0 0;
    // top: 50;
    z-index: 0;
    min-width: 0;
    height: 100vh;
    width: 320px;
  }

  .sidebar.hidden {
    margin-left: 0px;
    background-color: white;
  }

  .dimmer-layer {
    display: none;
  }

  .dimmer-layer.hidden {
    display: none;
  }

}

